[submodule "baselines/SkillWeaver"]
	path = baselines/SkillWeaver
	url = https://github.com/OSU-NLP-Group/SkillWeaver.git
[submodule "baselines/ASI"]
	path = baselines/ASI
	url = https://github.com/zorazrw/agent-skill-induction.git
